.avatar
{
	background-image: url('../img/avatar.png');
	background-size:100px 100px;
	background-repeat:no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1040;
}

.code
{
	font-family: courier;
	font-size: small;
}